.responsive {
    width: 100%;
    aspect-ratio: 16/9;
    }

.btn {
    background: #00c6b9;
    margin: 0 auto 24px;
    display: block;
    width: 194px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    line-height: normal;
    padding: 7px 13px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    border: 2px solid transparent;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.txt{
    color: #fff;
}
.txt span {
    font-size: 17px;
    font-weight: bold;
    color: #00c6b9;
}

ul{
    padding-left:0;
}

li{
    list-style:none;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
}



.box{
    position: relative;
  }
  .bottom-right {
    position: absolute;
    bottom: 40px;
    right: 25px;
  }